.horizontalScrollContainer {
    position: relative;
    width: 100%;

    .horizontalScrollSection {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
    }
}