* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #e9e9e9;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --light-100: #ffffff;
    --light-200: #e9e9e9;
    --light-300: #d3d3d3;
    --dark-100: #3e3e3e;
    --dark-200: #393939;
    --dark-300: #222222;
    --dark-400: #0e0e0e;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

// fonts
@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../assets/fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Light";
    src: url("../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Bold";
    src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Black";
    src: url("../assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Light";
    src: url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Light.otf") format("opentype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Regular";
    src: url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi-Black";
    src: url("../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Bold";
    src: url("../assets/fonts/Oswald/static/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Medium";
    src: url("../assets/fonts/Oswald/static/Oswald-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Oswald-Regular";
    src: url("../assets/fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

body {
    min-width: 320px;
    min-height: 100vh;
}
p,h1,h2,h3,h4,h5,span,button,a{
    &::selection {
        background-color: #222222;
        color: #e9e9e9;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
i{
    &.ic{
        font-style: normal;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
