@use "../../styles/media-query" as media;
#home {
    position: relative;
    height: auto;
    width: 100%;
    .introSection__home {
        position: relative;
        flex-shrink: 0;
        max-width: 65vw;
        height: 100vh;
        background-color: var(--light-200);
        padding: 10vh 33px 5vh;

        display: flex;
        flex-direction: column;
        gap: 12.5vh; //138px
        overflow: hidden;
        .nav__home {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navLink {
                font-family: "Lato-Bold", sans-serif;
                font-size: clamp(8px, 1vw, 14px);
                font-weight: 600;
                line-height: 150%;
                text-decoration: none;
                color: var(--dark-300);
                padding: 5px 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 16px;
                .ic-arrow {
                    position: relative;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: "";
                        transition: transform 0.3s ease;
                        transform: scale(1);
                        width: 6px;
                        height: 6px;
                        display: block;
                        background-color: var(--dark-300);
                        border-radius: 50%;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        background-image: url("../../assets/icons/ic-arrow-light.svg");
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: 2px;
                        background-position: -20px;
                        transform: rotate(-45deg);
                        transition:
                            background-position 0.3s ease,
                            background-size 0.3s ease;
                    }
                }
                &:hover {
                    .ic-arrow {
                        &::before {
                            transform: scale(4);
                        }
                        &::after {
                            background-size: 14px;
                            background-position: center;
                        }
                    }
                }
            }
        }
        .introduction__home {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5.2vh;
            height: 100%;
            .myName {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                div {
                    display: flex;
                }
            }
            p {
                &.myDesc {
                    font-family: "Lato-Regular", sans-serif;
                    font-size: clamp(18px, 1.7vw, 28px);
                    line-height: 150%;
                    color: var(--dark-200);
                    text-align: center;
                    letter-spacing: -1px;
                    margin-top: auto;
                }
            }
        }

        @include media.mobile {
            max-width: 100vw;
            justify-content: center;
            height: max-content;
            padding: 2vh 15px;
            gap: 5vh;
            .introduction__home {
                .myName {
                    justify-content: space-between;
                    gap: 5px;
                    scale: 0.9;
                }
                p {
                    &.myDesc {
                        text-align: start;
                        letter-spacing: -1px;
                    }
                }
            }
        }
    }
    .imageSectionWrapper__home {
        display: flex;
        max-width: 60vw;
        height: 100vh;
        flex-shrink: 0;
        .imageSection__home {
            max-width: 30vw;
            height: 100%;
            background-color: #d1d1d1;
            scrollbar-width: none;
            overflow-x: hidden;
            a {
                .img-profile {
                    position: relative;
                    right: -57%;
                    left: unset;
                    width: 25vw;
                    height: auto;
                    object-fit: cover;
                    object-position: center top;
                }
            }
            &:last-child {
                background-color: #e7e7e7;
                a {
                    .img-profile {
                        left: -43%;
                        right: unset;
                    }
                }
            }
            .desc__imageSection {
                position: relative;
                z-index: 2;
                color: var(--dark-200);
                font-family: "Lato-Regular", sans-serif;
                font-size: clamp(14px, 1.2vw, 20px);
                line-height: 150%;
                text-align: end;
                padding: 0 33px;
                .reactIcon {
                    width: auto;
                    height: auto;
                    margin: 0 5px;
                    border-radius: 2px;
                    display: inline-block;
                    font-family: "Lato-Bold", sans-serif;

                    &::before {
                        content: "";
                        display: inline-block;
                        background-image: url("../../assets/react.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
        }
    }
    .imageSectionWrapperMobile__home {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        padding: 15px;
        .btn-resume-wrapper {
            position: absolute;
            bottom: 140px;
            right: 20vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 137px;
            height: 40px;
            background-color: var(--light-200);
            color: var(--dark-200);
            padding: 6px 8px;
            border-radius: 6px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                aspect-ratio: 1/1;
                border-radius: 4px;
                background-color: #d3d3d3;
                padding: 4px;
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-image: url("../../assets/icons/ic-arrow-dark.svg");
                    background-repeat: no-repeat;
                    background-size: 18px;
                    background-position: center;
                    transform: rotate(-40deg);
                }
            }
        }
        .img-profile {
            width: 80%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.5rem;
            flex-shrink: 0;
        }
        .desc__imageSection {
            position: relative;
            font-family: "Lato-Regular", sans-serif;
            letter-spacing: -0.5px;
            font-size: clamp(14px, 4vw, 20px);
            color: var(--dark-200);
            text-align: center;
            .reactIcon {
                width: auto;
                height: auto;
                margin: 0 5px;
                border-radius: 2px;
                display: inline;
                font-family: "Lato-Bold", sans-serif;

                &::before {
                    content: "";
                    display: inline-block;
                    background-image: url("../../assets/react.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 20px;
                    height: 15px;
                }
            }
        }
    }
    .projectSection__home {
        display: flex;
        transform-origin: right top;
        overflow: hidden;
        height: 100vh;
        .projectItem {
            max-width: 65vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            background-color: var(--light-200);
            &:nth-child(odd) {
                background-color: var(--dark-300);
            }
            .projectDisplay__home {
                position: relative;
                width: 100%;
                overflow: hidden;
                .projectWrapper {
                    position: relative;
                    width: 100%;
                    height: 55vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .video-project {
                        position: absolute;
                        display: block;
                        z-index: 1;
                        width: 80%;
                        height: 80%;
                        aspect-ratio: 16 / 9;
                        filter: blur(0px);
                        transition: filter 0.3s ease-in-out;

                        &.blurEffect {
                            filter: blur(10px);
                        }
                    }
                    .bg-project {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .projectDescription__home {
                width: 100%;
                height: 40vh;
                padding: 24px 33px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .projectInfo-1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    mix-blend-mode: exclusion;
                    overflow: hidden;
                    height: 100px;
                    .btn-project {
                        position: relative;
                        width: 66.5px;
                        height: 66.5px;
                        border-radius: 50%;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
                        overflow: hidden;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: #fff;
                            background-blend-mode: exclusion;
                            background-image: url("../../assets/icons/ic-arrow-light.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 30px auto;
                            transform: rotate(-48deg);
                            transition:
                                background-position 0.3s ease-in-out,
                                z-index 0.3s ease-in-out;
                            z-index: 2;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: #fff;
                            background-blend-mode: exclusion;
                            background-image: url("../../assets/icons/ic-arrow-light.svg");
                            background-repeat: no-repeat;
                            background-position: -700px 80px;
                            background-size: 30px auto;
                            transform: rotate(-48deg);
                            transition:
                                background-position 0.3s ease-in-out,
                                z-index 0.3s ease-in-out;
                            z-index: 1;
                        }

                        &:hover {
                            &::before {
                                background-position: 700px -80px;
                                z-index: 1;
                            }
                            &::after {
                                background-position: center;
                                z-index: 2;
                            }
                        }
                    }
                    .creation-date {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 20px;
                        line-height: 150%;
                        letter-spacing: -0.5px;
                        pointer-events: none;
                    }
                }
                .projectInfo-2 {
                    width: 100%;
                    height: 100px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    .title-project {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 60px;
                        letter-spacing: -1px;
                        line-height: 120%;
                        mix-blend-mode: exclusion;
                        color: #fff;
                        pointer-events: none;
                    }
                }
                .projectInfo-3 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    mix-blend-mode: exclusion;
                    .project-number {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 20px;
                        line-height: 120%;
                        pointer-events: none;
                    }
                    .project-tech {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        list-style: none;
                        height: 50px;
                        overflow: hidden;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .projectSectionMobile__home {
        width: 100%;
        height: auto;
        &--projectItem {
            position: sticky;
            height: 100vh;
            top: 0;
            background-color: var(--light-200);
            &:nth-child(odd) {
                background-color: var(--dark-300);
            }
            .projectDisplayMobile__home {
                .projectWrapper {
                    width: 100%;
                    height: 45vh;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    .video-project {
                        position: absolute;
                        display: block;
                        z-index: 1;
                        width: 80%;
                        height: auto;
                        aspect-ratio: 16 / 9;
                        filter: blur(0px);
                        transition: filter 0.3s ease-in-out;
                        border-radius: 0.75rem;

                        &.blurEffect {
                            filter: blur(10px);
                        }
                    }
                    .bg-project {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0.75rem;
                    }
                }
            }
            .projectDescriptionMobile__home {
                width: 100%;
                height: 35vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                .projectInfo-1 {
                    height: auto;
                    overflow: hidden;
                    padding: 15px;
                    .creation-date {
                        padding: 6px 12px;
                        outline: 1px solid var(--dark-100);
                        outline-offset: 3px;
                        border-radius: 12px;

                        font-family: "Lato-Bold", sans-serif;
                        font-size: 12px;
                        line-height: 150%;
                        letter-spacing: -0.1px;
                        mix-blend-mode: exclusion;
                        color: #fff;
                    }
                }
                .projectInfo-2 {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    .title-project {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: clamp(40px, 10vw, 60px);
                        letter-spacing: -1px;
                        line-height: 120%;
                        mix-blend-mode: exclusion;
                        color: #fff;
                        pointer-events: none;
                    }
                }
                .projectInfo-3 {
                    margin-top: 5px;
                    .project-tech {
                        list-style: none;
                        display: flex;
                        gap: 2px;
                        li {
                            font-family: "Lato-Light", sans-serif;
                            font-size: clamp(12px, 2vw, 20px);
                            line-height: 120%;
                            mix-blend-mode: exclusion;
                            color: #fff;

                            &:not(:last-child) {
                                &::after {
                                    content: "|";
                                    margin-left: 2px;
                                }
                            }
                        }
                    }
                }
                .btn-projectMobile {
                    position: relative;
                    margin-top: 3rem;
                    border-radius: 5rem;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
                    overflow: hidden;
                    color: #fff;
                    padding: 1rem 4rem;
                    font-family: "Lato-Bold", sans-serif;
                    font-size: clamp(20px, 5vw, 30px);
                    line-height: 120%;
                    text-transform: uppercase;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-color: #fff;
                        mix-blend-mode: exclusion;
                        z-index: 1;
                    }
                }
            }
            @include media.landscape {
                height: auto;
                display: flex;
                .projectDisplayMobile__home {
                    .projectWrapper {
                        height: 100%;
                        width: 50vw;
                    }
                }
                .projectDescriptionMobile__home {
                    height: 100%;
                    align-items: start;
                    padding: 15px;
                }
            }
        }
    }
    .expertises__home {
        position: absolute;
        right: 0;
        top: calc((65vh / 2) + 60px);
        width: 100vw;
        height: calc(100vh - (65vh / 2));
        z-index: -1;
        background-color: #e9e9e9;
        padding: 0 38px;

        display: flex;
        align-items: start;
        justify-content: space-between;

        &--title {
            span {
                display: inline-block;
                font-family: "Satoshi-Regular", sans-serif;
                font-size: clamp(80px, 10vw, 128px);
                color: #0e0e0e;
                line-height: 150%;
            }
            line-height: 150%;
            flex-shrink: 1;
            width: 50%;
            overflow: hidden;
        }
        &--desc {
            margin-top: 1rem;
            flex-shrink: 0;
            width: 50%;
            .desc__P {
                p {
                    font-family: "Lato-Regular", sans-serif;
                    font-size: clamp(20px, 2vw, 26px);
                    color: #393939;
                    line-height: 150%;
                }
                margin-bottom: 31px;
                width: 100%;
                overflow: hidden;
            }
            .desc__list-stack {
                list-style: none;
                display: flex;
                gap: 16px;
                overflow: hidden;
                li {
                    .ic-stacks {
                        width: auto;
                        height: 40px;
                        object-fit: contain;
                        filter: grayscale(100%);
                        transition: filter 0.5s ease;
                        &:hover {
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
    .expertise-list__home {
        width: 100%;
        height: auto;
        .expertise__list {
            position: sticky;
            width: 98%;
            height: auto;
            margin: 0 auto;
            border-top: 1px solid #212121;
            padding: clamp(28px, 6vh, 32px) 1.5vw;
            background-color: #e9e9e9;
            .list__title {
                width: 50%;
                color: #0e0e0e;
                font-family: "Satoshi-Medium", sans-serif;
                font-size: clamp(30px, 4vw, 50px);
                margin-bottom: 2rem;
                transform-origin: top left;
                @include media.mobile {
                    width: 100%;
                }
            }
            .list__body {
                display: flex;
                justify-content: space-between;
                p {
                    width: 60%;
                    color: #0e0e0e;
                    font-family: "Lato-Regular", sans-serif;
                    font-size: clamp(18px, 1.8vw, 24px);
                    line-height: 150%;
                }
                ul {
                    list-style: none;
                    li {
                        color: #0e0e0e;
                        font-family: "Satoshi-Bold", sans-serif;
                        font-size: clamp(20px, 2vw, 26px);
                        line-height: 150%;
                    }
                }

                @include media.mobile {
                    flex-direction: column;
                    gap: 20px;
                    p {
                        width: 100%;
                    }
                }
            }
        }
        .contact__home {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 110vh;
            background-color: #e9e9e9;
            overflow: visible;
            margin-top: 10vh;
            &--wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                box-shadow: 0 0.5vw 2vw 0.25vw rgba(0, 0, 0, 0.5);
                background-color: #0e0e0e;
                padding: clamp(16px, 3vw, 34px);
                display: flex;
                place-content: center;
                align-items: center;
                .lets-connect {
                    overflow: hidden;
                    height: auto;
                    .connect-title,
                    .magic-title {
                        display: block;
                        color: #e9e9e9;
                        text-align: center;
                    }
                    .connect-title {
                        span {
                            display: block;
                            font-family: "Satoshi-Regular", sans-serif;
                            font-size: clamp(28px, 5vw, 64px);
                            line-height: 150%;
                            letter-spacing: -0.5px;
                        }
                        overflow: hidden;
                        line-height: 150%;
                    }
                    .magic-title {
                        span {
                            display: block;
                            font-family: "Satoshi-Bold", sans-serif;
                            font-size: clamp(48px, 9vw, 111px);
                            line-height: 150%;
                            letter-spacing: -0.5px;
                        }
                        line-height: 150%;
                        overflow: hidden;
                    }
                    .btn-send-email {
                        display: flex;
                        align-items: center;
                        gap: 22px;
                        background-color: #fff;
                        color: #222222;
                        font-family: "Satoshi-Bold", sans-serif;
                        font-size: clamp(16px, 2vw, 20px);
                        border-radius: 6px;
                        padding: 16px 18px;
                        margin: auto;
                        text-transform: uppercase;
                        transition: none;
                        border: none;
                        width: max-content;
                        span {
                            display: inline-block;
                            width: 34px;
                            height: 34px;
                            background-color: #d9d9d9;
                            border-radius: 4px;
                            .ic-arrow {
                                display: block;
                                width: 34px;
                                height: 34px;
                                transform: rotate(-45deg);
                                background-image: url(../../src/assets/icons/ic-arrow-dark.svg);
                                background-repeat: no-repeat;
                                background-size: 20px;
                                background-position: center;
                                transition: none;

                                &::before {
                                    content: "";
                                    display: block;
                                    width: 34px;
                                    height: 34px;
                                    background-image: url(../../src/assets/icons/ic-arrow-dark.svg);
                                    background-repeat: no-repeat;
                                    background-size: 20px;
                                    background-position: -50px;
                                    transition: none;
                                }
                            }
                        }

                        &:hover {
                            span {
                                .ic-arrow {
                                    background-position: 50px;
                                    transition: background-position 0.5s ease;
                                    &::before {
                                        background-position: center;
                                        transition: background-position 0.5s ease;
                                    }
                                }
                            }
                        }
                    }
                }
                .contact-footer {
                    position: absolute;
                    width: 100%;
                    padding: 34px;
                    bottom: 0;
                    display: flex;
                    justify-content: space-between;
                    & > div {
                        span {
                            display: block;
                            color: #e9e9e9;
                            font-family: "Satoshi-Light", sans-serif;
                            font-size: clamp(16px, 2vw, 20px);
                            &:last-child {
                                font-family: "Satoshi-Bold", sans-serif;
                            }
                        }
                        .btn-copy {
                            background-color: transparent;
                            position: relative;
                            color: #e9e9e9;
                            font-family: "Satoshi-Light", sans-serif;
                            font-size: clamp(16px, 2vw, 20px);
                            padding: unset;
                            outline: none;
                            border: none;
                            cursor: pointer;

                            @include media.mobile {
                                display: block;
                                margin: auto;
                            }
                            .ic-copy {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                background-image: url(../../src/assets/icons/ic-copy.png);
                                background-repeat: no-repeat;
                                background-size: 15px;
                                background-position: center;
                            }
                            .text-copied {
                                position: absolute;
                                font-size: 12px;
                                font-family: "Satoshi-Light", sans-serif;
                            }
                        }
                        &:last-child {
                            span {
                                &:first-child {
                                    font-family: "Satoshi-Bold", sans-serif;
                                }
                            }
                        }
                    }

                    @include media.mobile {
                        flex-direction: column;
                        gap: 20px;
                        align-items: center;
                        & > div {
                            span {
                                text-align: center;
                            }
                        }
                    }
                    @include media.landscape {
                        flex-direction: row;
                    }
                }
            }
        }
    }

    .expertisesMobile__home {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        &--title {
            span {
                display: inline-block;
                font-family: "Satoshi-Regular", sans-serif;
                font-size: clamp(80px, 10vw, 128px);
                color: #0e0e0e;
                line-height: 150%;
            }
            line-height: 150%;
            flex-shrink: 1;
            overflow: hidden;
        }
        &--desc {
            margin-top: 1rem;
            flex-shrink: 0;
            width: 100%;
            .desc__P {
                p {
                    font-family: "Lato-Regular", sans-serif;
                    font-size: clamp(20px, 2vw, 26px);
                    color: #393939;
                    line-height: 150%;
                }
                overflow: hidden;
            }
            .desc__list-stack {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                overflow: hidden;
                margin-top: 1rem;
                li {
                    .ic-stacks {
                        width: auto;
                        height: 40px;
                        object-fit: contain;
                        filter: grayscale(100%);
                        transition: filter 0.5s ease;
                        &:hover {
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }

    .footer__home {
        position: relative;
        width: 100%;
        height: 72vh;
        background-color: #e9e9e9;
        padding: 0 clamp(20px, 5vw, 69px);
        padding-top: clamp(30px, 5vh, 69px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--navigation-wrapper {
            width: 100%;
            display: flex;
            list-style: none;
            gap: clamp(30px, 5vw, 56px);
            flex-wrap: wrap;
            li {
                &:first-child {
                    margin-right: auto;
                    ul {
                        li {
                            cursor: default;
                        }
                    }
                }
                span {
                    font-family: "Satoshi-Black", sans-serif;
                    color: #222222;
                    font-size: clamp(18px, 3vw, 22px);
                    letter-spacing: -0.5px;
                }
                ul {
                    list-style: none;
                    li {
                        cursor: pointer;
                        overflow: hidden;
                        padding-left: 2px;
                        span {
                            &::before {
                                content: "";
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #222222;
                            }
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-family: "Lato-Bold", sans-serif;
                            font-size: clamp(16px, 2.5vw, 20px);
                            letter-spacing: 0;
                            a {
                                color: #222222;
                            }
                        }
                        &:hover {
                            span {
                                &::before {
                                    width: 6px;
                                    height: 6px;
                                    border: 2px solid #d9d9d9;
                                    outline: 1px solid #222222;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--licence {
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-wrap: wrap-reverse;
            & > div {
                &:first-child {
                    span {
                        display: block;
                        font-family: "BebasNeue-Regular";
                        font-size: clamp(50px, 8vw, 96px);
                        color: #222222;
                        line-height: 100%;
                        &::selection {
                            background-color: #222222;
                            color: #e9e9e9;
                        }
                    }
                }
                &:last-child {
                    span {
                        display: block;
                        color: #222222;
                        &:first-child {
                            font-family: "BebasNeue-Regular";
                            font-size: clamp(20px, 4vw, 42px);
                        }
                        font-family: "BebasNeue-Regular", sans-serif;
                        line-height: 100%;
                        letter-spacing: -0.5px;
                        text-align: end;
                    }
                }
            }
            @include media.mobile {
                gap: 20px;
                & > div {
                    &:last-child {
                        span {
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
}
