@use "../../styles/media-query" as media;
#home{
    position: relative;
    height: auto;
    width: 100%;
    .introSection__home{
        flex-shrink: 0;
        max-width: 60vw;
        height: 100vh;
        background-color: var(--light-200);
        padding: 76px 40px 107px;
        
        display: flex;
        flex-direction: column;
        gap: 12.5vh; //138px
        overflow-y: hidden;

        @include media.ipad{
            //do something
        }

        .nav__home{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navLink{
                font-family: 'Lato-Bold', sans-serif;
                font-size: clamp(8px, 1vw, 14px);
                font-weight: 600;
                line-height: 150%;
                text-decoration: none;
                color: var(--dark-300);
                padding: 5px 10px;

                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 6px;
                &::after{
                    content: '';
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    outline: 1px solid var(--dark-300);
                    outline-offset: 1px;
                    background-color: transparent;
                    transition: width 0.3s ease-in-out;
                }

                &:hover{
                    &::after{
                        background-color: var(--dark-300);
                    }
                }
            }
        }
        .introduction__home{
            display: flex;
            flex-direction: column;
            gap: 3vh;
            h1{
                &.myName{
                    font-family: 'BebasNeue-Regular', sans-serif;
                    font-size: clamp(100px, 18vw, 238px);
                    line-height: 100%;
                    color: var(--dark-400);
                }
            }
            p{
                &.myDesc{
                    font-family: 'Lato-Regular', sans-serif;
                    font-size: clamp(18px, 1.7vw, 28px);
                    line-height: 150%;
                    color: var(--dark-200);
                    text-align: center;
                }
            }
        }
    }
    .imageSection__home{
        max-width: 30vw;
        height: 100%;
        background-color: var(--dark-300);
    }
}