@use "../../styles/media-query" as media;
#home {
    position: relative;
    height: auto;
    width: 100%;
    .introSection__home {
        flex-shrink: 0;
        max-width: 65vw;
        height: 100vh;
        background-color: var(--light-200);
        padding: 10vh 33px 5vh;

        display: flex;
        flex-direction: column;
        gap: 12.5vh; //138px
        overflow-y: hidden;

        @include media.ipad {
            //do something
        }

        .nav__home {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navLink {
                font-family: "Lato-Bold", sans-serif;
                font-size: clamp(8px, 1vw, 14px);
                font-weight: 600;
                line-height: 150%;
                text-decoration: none;
                color: var(--dark-300);
                padding: 5px 10px;

                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 16px;
                &::after {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--dark-300);
                    scale: 1;
                    transform: rotate(-45deg);
                    background-position: -5px 3px;
                    transition:
                        scale 0.3s ease-in-out,
                        background-position 0.3s ease-in-out;
                }

                &:hover {
                    &::after {
                        scale: 5;
                        background-image: url("../../assets/icons/ic-arrow-light.svg");
                        background-repeat: no-repeat;
                        background-size: 2px;
                        background-position: center;
                    }
                }
            }
        }
        .introduction__home {
            display: flex;
            flex-direction: column;
            gap: 2.2vh;
            h1 {
                &.myName {
                    font-family: "BebasNeue-Regular", sans-serif;
                    font-size: clamp(100px, 19.8vw, 470px);
                    line-height: 100%;
                    text-align: center;
                    color: var(--dark-400);
                    white-space: nowrap;
                    overflow: hidden;
                    filter: drop-shadow(0px 4px 3px var(--dark-400));
                }
            }
            p {
                &.myDesc {
                    font-family: "Lato-Regular", sans-serif;
                    font-size: clamp(18px, 1.7vw, 28px);
                    line-height: 150%;
                    color: var(--dark-200);
                    text-align: center;
                }
            }
        }
    }
    .imageSectionWrapper__home {
        display: flex;
        max-width: 60vw;
        height: 100vh;
        flex-shrink: 0;
        .imageSection__home {
            max-width: 30vw;
            height: 100%;
            background-color: #d1d1d1;
            scrollbar-width: none;
            overflow-x: hidden;
            a {
                .img-profile {
                    position: relative;
                    right: -57%;
                    left: unset;
                    width: 25vw;
                    height: auto;
                    object-fit: cover;
                    object-position: center top;
                }
            }
            &:last-child {
                background-color: #e7e7e7;
                a {
                    .img-profile {
                        left: -43%;
                        right: unset;
                    }
                }
            }
            .desc__imageSection {
                position: relative;
                z-index: 2;
                color: var(--dark-200);
                font-family: "Lato-Regular", sans-serif;
                font-size: clamp(14px, 1.2vw, 20px);
                line-height: 150%;
                text-align: end;
                padding: 0 33px;
                white-space: wrap;
                transform: translateY(80px);
                .reactIcon {
                    width: auto;
                    height: auto;
                    margin: 0 5px;
                    border-radius: 2px;
                    display: inline-block;
                    font-family: "Lato-Bold", sans-serif;

                    &::before {
                        content: "";
                        display: inline-block;
                        background-image: url("../../assets/react.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
        }
    }
    .projectSection__home {
        display: flex;
        transform-origin: right top;
        overflow: hidden;
        height: 100vh;
        .projectItem {
            max-width: 65vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            background-color: var(--light-200);
            &:nth-child(odd) {
                background-color: var(--dark-300);
            }
            .projectDisplay__home {
                position: relative;
                width: 100%;
                overflow: hidden;
                .projectWrapper {
                    position: relative;
                    width: 100%;
                    height: 65vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .video-project {
                        position: absolute;
                        display: block;
                        z-index: 1;
                        width: 80%;
                        height: 80%;
                        aspect-ratio: 16 / 9;
                        filter: blur(0px);
                        transition: filter 0.3s ease-in-out;

                        &.blurEffect {
                            filter: blur(10px);
                        }
                    }
                    .bg-project {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .projectDescription__home {
                width: 100%;
                height: 30vh;
                padding: 24px 33px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .projectInfo-1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    mix-blend-mode: exclusion;
                    overflow: hidden;
                    height: 100px;
                    .btn-project {
                        position: relative;
                        width: 66.5px;
                        height: 66.5px;
                        border-radius: 50%;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
                        overflow: hidden;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: #fff;
                            background-blend-mode: exclusion;
                            background-image: url("../../assets/icons/ic-arrow-light.svg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 30px auto;
                            transform: rotate(-48deg);
                            transition:
                                background-position 0.3s ease-in-out,
                                z-index 0.3s ease-in-out;
                            z-index: 2;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: #fff;
                            background-blend-mode: exclusion;
                            background-image: url("../../assets/icons/ic-arrow-light.svg");
                            background-repeat: no-repeat;
                            background-position: -700px 80px;
                            background-size: 30px auto;
                            transform: rotate(-48deg);
                            transition:
                                background-position 0.3s ease-in-out,
                                z-index 0.3s ease-in-out;
                            z-index: 1;
                        }

                        &:hover {
                            &::before {
                                background-position: 700px -80px;
                                z-index: 1;
                            }
                            &::after {
                                background-position: center;
                                z-index: 2;
                            }
                        }
                    }
                    .creation-date {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 20px;
                        line-height: 150%;
                        letter-spacing: -0.5px;
                        pointer-events: none;
                    }
                }
                .projectInfo-2 {
                    width: 100%;
                    height: 100px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    .title-project {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 60px;
                        letter-spacing: -1px;
                        line-height: 120%;
                        mix-blend-mode: exclusion;
                        color: #fff;
                        pointer-events: none;
                    }
                }
                .projectInfo-3 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    mix-blend-mode: exclusion;
                    .project-number {
                        font-family: "Lato-Bold", sans-serif;
                        font-size: 20px;
                        line-height: 120%;
                        pointer-events: none;
                    }
                    .project-tech {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        list-style: none;
                        height: 50px;
                        overflow: hidden;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .expertises__home{
        position: absolute;
        right: 0;
        top: calc(65vh / 2);
        width: 100vw;
        height: calc(100vh - (65vh/2));
        z-index: -1;
        background-color: #E9E9E9;
        padding: 0 38px;

        display: flex;
        gap: 20px;

        &--title{
            font-family: 'Satoshi-Regular';
            font-size: clamp(80px, 10vw ,128px);
            color: #0E0E0E;
        }
        &--desc{
            .desc__P{
                font-family: 'Lato-Regular';
                font-size: clamp(20px, 2vw ,26px);
                color: #393939;
            }
        }
    }
}
