.burgerMenu{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    z-index: 999999;
    mix-blend-mode: exclusion;
}
.burgerMenuIcon {
    position: relative;
    width: 68px;
    height: auto;
    aspect-ratio: 1/1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    &:focus {
        outline: none;
    }
}
.line {
    width: 100%;
    height: 2px;
    background-color: var(--light-200);
    transform-origin: center;
    mix-blend-mode: exclusion;
}
